body {
  padding: 0;
  margin: 0;
  font-size: 1.5em;
  background-image: url("winter_morning.jpg");
}

h3 {
  color: #FFFFFF;
  margin-left: 10px;
}

label {
  color: #FFFFFF;
}

table {
  opacity: 0.65%;
}

.u_input {
  text-align: left;
  width: 250px;
}

.d_input {
  text-align: left;
  width: 250px;
}

.nav {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.nav li {
  display: inline;
  padding: 10px;
}

#header {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

#submit {
  width: 190px;
  height: 30px;
}

#list_box {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

#list_box ul {
  color: #00FF00;
}

#weather_box {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

#forecast_box {
  width: 750px;
  height: 750px;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
}

#weather_box table {
  opacity: .75;
}

#forecast_box table {
  opacity: .75;
  overflow: auto;
}

#forecast_box table ul li {
  list-style: none;
}

#fore_id {
  text-align: center;
  margin-right: 300px;
}
